<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <RollingFile name="File" fileName="/applogs/expenseManager.log" filePattern="/applogs/expenseManager-backup-%d{MM-dd-yy-HH-mm-ss}-%i.log.gz">
            <PatternLayout>
                <pattern>{\"application\":\"Expense Manager\",\"dateTime\":\"%d{yyyy-MM-dd HH:mm:ss}\", \"msg\":\"%-5p %c{1}:%L - %m\"}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
        <GELF name="gelfAppender" server="167.86.68.204" port="12201" hostName="167.86.68.204" protocol="TCP">
        	<PatternLayout>
                <pattern>{\"application\":\"Expense Manager\",\"dateTime\":\"%d{yyyy-MM-dd HH:mm:ss}\", \"msg\":\"%-5p %c{1}:%L - %m\"}%n</pattern>
            </PatternLayout>
	    </GELF>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="File" />
            <appender-ref ref="gelfAppender" />
        </Root>
    </Loggers>
</Configuration>